{% extends 'base.html.twig' %}

{% block body %}
    Not implemented
    <a href="{{ path('logout') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Logout</a>
{% endblock %}
