{# app/Resources/views/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Start form -->
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="_password" />
            </div>
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}